---
- name: Make sure mariadb is running
  ansible.builtin.service:
    name: mariadb
    state: started
    enabled: true

- name: Configure mariadb server
  ansible.builtin.lineinfile:
    path: /etc/mysql/mariadb.conf.d/50-server.cnf
    regexp: "^{{ item.key }}"
    line: "{{ item.key }}={{ item.value }}"
    insertafter: "^\\[mysqld\\]"
  loop:
    - {key: "innodb_file_per_table", value: "1"}
    - {key: "lower_case_table_names", value: "0"}
  notify: Restart mariadb

- name: Create librenms database
  community.mysql.mysql_db:
    name: "librenms"
    encoding: utf8mb4
    collation: utf8mb4_unicode_ci
    state: present
    login_unix_socket: /run/mysqld/mysqld.sock

- name: Create mariadb user "librenms"
  community.mysql.mysql_user:
    name: "librenms"
    password: "{{ librenms_password }}"
    column_case_sensitive: false
    host: "%"
    priv: "librenms.*:ALL"
    state: present
    login_unix_socket: /run/mysqld/mysqld.sock
