---
- name: Restart apache
  ansible.builtin.service:
    name: apache2
    state: restarted

- name: Restart mariadb
  ansible.builtin.service:
    name: mariadb
    state: restarted

- name: Restart php-fpm
  ansible.builtin.service:
    name: php8.4-fpm
    state: restarted
