---
- name: Restart nginx
  ansible.builtin.service:
    name: ngingx
    state: restarted

- name: Restart mariadb
  ansible.builtin.service:
    name: mariadb
    state: restarted

- name: Restart php-fpm
  ansible.builtin.service:
    name: php8.4-fpm
    state: restarted

- name: Restart snmpd
  ansible.builtin.service:
    name: snmpd
    state: restarted
