---
- name: Install required packages
  ansible.builtin.package:
    name:
      - lsb-release
      - ca-certificates
      - wget
      - acl
      - curl
      - fping
      - git
      - graphviz
      - imagemagick
      - mariadb-client
      - mariadb-server
      - mtr-tiny
      - nginx-full
      - nmap
      - php-cli
      - php-curl
      - php-fpm
      - php-gd
      - php-gmp
      - php-mbstring
      - php-mysql
      - php-snmp
      - php-xml
      - php-zip
      - python3-dotenv
      - python3-pymysql
      - python3-redis
      - python3-setuptools
      - python3-systemd
      - python3-pip
      - redis-server
      - rrdtool
      - snmp
      - snmpd
      - unzip
      - whois
    state: present

- name: Create /opt/librenms directory
  ansible.builtin.file:
    path: /opt/librenms
    state: directory
    owner: librenms
    group: librenms
    mode: "0755"

- name: Download librenms
  become: true
  become_user: librenms
  ansible.builtin.git:
    repo: https://github.com/librenms/librenms.git
    dest: /opt/librenms
    clone: true
    update: false
    version: "{{ librenms_varsion }}"

- name: Set ACL for LibreNMS directory
  ansible.posix.acl:
    path: "{{ item }}"
    entity: librenms
    etype: group
    permissions: rwx
    default: true
    recursive: true
    state: present
  loop:
    - /opt/librenms/rrd
    - /opt/librenms/logs
    - /opt/librenms/bootstrap/cache
    - /opt/librenms/storage

- name: Set recurisive ACL for LibreNMS directory
  ansible.posix.acl:
    path: "{{ item }}"
    entity: librenms
    etype: group
    permissions: rwx
    recursive: true
    state: present
  loop:
    - /opt/librenms/rrd
    - /opt/librenms/logs
    - /opt/librenms/bootstrap/cache
    - /opt/librenms/storage

- name: Run lnms installer script
  become_user: librenms
  become: true
  ansible.builtin.command: >
    /opt/librenms/scripts/composer_wrapper.php install --no-dev
  args:
    creates: /opt/librenms/composer.phar

- name: Copy librenms cronjob file to system cronjob
  ansible.builtin.copy:
    src: "/opt/librenms/dist/librenms.cron"
    dest: /etc/cron.d/librenms
    owner: root
    group: root
    mode: '0644'
    remote_src: true
    force: false
